<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Welcome</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class ="center">
    <ion-button size="small" (click)="logout()">LogOut</ion-button>
  </div>

</ion-content>
