
<ion-content>
  <div class="center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary" class="center">Log In</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <ion-item>
          <ion-label position="floating" >Username</ion-label>
          <ion-input [(ngModel)]="email" type ="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Password</ion-label>
          <ion-input [(ngModel)]="password" type ="password"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="block" fill="outline" (click)="login()">LOG IN</ion-button>
        <p class="ion-text-center" *ngIf="isLoading">
          <ion-spinner></ion-spinner>
        </p>
        <ion-button size="full" fill="clear" (click)="register()">Sign Up</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
