<ion-header >
  <ion-toolbar color="primary">
    <ion-title> REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class ="center">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" >Name</ion-label>
          <ion-input [(ngModel)]="name" type ="text" autofocus="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Username</ion-label>
          <ion-input [(ngModel)]="email" type ="email"></ion-input>
        </ion-item>          
        <ion-item>
          <ion-label position="floating" >Password</ion-label>
          <ion-input [(ngModel)]="password" type ="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Contact No</ion-label>
          <ion-input [(ngModel)]="contactno" type ="number"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label position="floating" >Country</ion-label>
          <ion-input [(ngModel)]="country" type ="Country"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="block" fill="outline" (click)="register()">REGISTER</ion-button>
        <p class="ion-text-center" *ngIf="isLoading">
          <ion-spinner></ion-spinner>
        </p>
        <ion-button size="full" fill="clear" (click)="login()">LOG IN</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>
